.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main
{
  background-image: linear-gradient(to left,#614385,#516395);
  color: black;
  padding: 200px;
  top:auto;
  font-family: Sans-Serif;
  text-align: center;
}
.styc
{
  background-image: linear-gradient(to left,#6709da,#0443f0) ;
   color:white;
   width:15%;
   height:25%;

}
.heading
{
  color: black;
}
.formDiv {    
  padding: 21px;    
   border-radius: 5px;    
   background-color: #f2f2f2;    
  }    
      
  input[type=text], select     
  {    
    width: 100%;    
    padding: 12px 20px;    
    margin: 8px 0;    
    display: inline-block;    
    border: 1px solid #ccc;    
    border-radius: 4px;    
    box-sizing: border-box;    
  }    
      
  input[type=submit] {    
    width: 100%;    
    background-color: #4CAF50;    
    color: white;    
    padding: 14px 20px;    
    margin: 8px 0;    
    border: none;    
    border-radius: 4px;    
    cursor: pointer;    
  }    
      
  input[type=submit]:hover {    
    background-color: #45a049;    
  }    
  .showError{    
    border-color: #a94442 !important;    
    color: #a94442 !important;    
    margin-bottom: 15px;    
  }